@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    font-family: sans-serif;

}

form {
    margin-top: 1rem;
    width: 50%;
}

fieldset {
    margin-top: 1rem;
    border: none;
}

.form input {
    border: none;
}

.form {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    pointer-events: none;
}

.form label::after {
    position: absolute;
    left: 0px;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #5fa8d3;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}



.content-name {
    position: absolute;
    left: 0px;
    bottom: 5px;
    transition: all 0.3s ease;
}



.form input:focus+.label-name .content-name,
.form input:valid+.label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
}

.form input:focus+.label-name::after,
.form input:valid+.label-name::after {
    transform: translateX(0%);
}

.mail input:focus+.label-name .content-name,
.mail input:valid+.label-name .content-name {
    color: black;
}

.mail input:focus+.label-name::after,
.mail input:valid+.label-name::after {
    transform: translateX(-100%);
}

.mail input:invalid+.label-name::after {
    border-bottom: 3px solid red;
}

.mail input:focus+.label-name .content-name,
.mail input:not(:placeholder-shown)+.label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: #5fa8d3;
    transition: transform 0.3s ease;
}

.mail input:focus+.label-name::after,
.mail input:not(:placeholder-shown)+.label-name::after {
    transform: translateX(0%);
}